.DS_Store
/vim/.VimballRecord
/vim/.netrwhist
/vim/autoload/plug.vim
/vim/autoload/plug.vim
/vim/autoload/plug.vim.old
/vim/bundle-disabled/
/vim/bundle/
/vim/doc/tags
/vim/fzf-history/
/vim/sessions/
/vim/snippets/header.cpp
/vim/tags/
/vim/templates/skel.c
/vim/templates/skel.cpp
/vim/templates/skel.h
/vim/templates/skel.m
/vim/templates/skel.mm
/vim/undofiles/
/vim/viminfo*
/vim/viminfz.tmp
/vim/ycm_extra_conf.pyc
