.vim/bundle-disabled/
.vim/bundle/
.vim/sessions/
.vim/tags/
.vim/undofiles/
.vim/.VimballRecord
.vim/.netrwhist
.vim/autoload/plug.vim
.vim/doc/tags
.vim/viminfo*
.vim/viminfz.tmp
.vim/ycm_extra_conf.pyc
