# Global snippets

# Header of file
snippet Copy
	/**********************************************\
	*
	*  Andrey A. Ugolnik
	*  Tiny Orange
	*  http://www.tinyorange.com
	*  andrey@ugolnik.info
	*
	*  created: `strftime("%d.%m.%Y")`
	*
	\**********************************************/

